<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <div id="app">
            <form action="">
                <input
                    type="text"
                    placeholder="Masukkan kata kunci..."
                    v-model="keywords"
                />
            </form>

            <ul>
                <li v-for="book in filterBooks">{{book}}</li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var vm = new Vue({
                el: "#app",
                data: {
                    keywords: "",
                    books: [
                        "Kalkulus Dasar",
                        "Fisika Dasar",
                        "Aljabar Linier Elementer",
                        "Aljabar Abstrak",
                        "Algoritma Pemrograman",
                    ],
                },
                computed: {
                    filterBooks: function () {
                        lowerKeywords = this.keywords.toLowerCase();

                        filterResult = this.books.filter((item) => {
                            return item.toLowerCase().includes(lowerKeywords);
                        });

                        return filterResult;
                    },
                },
            });
        </script>
    </body>
</html>
