<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <input type="text" placeholder="Add new users" v-model:value="newTask"/>
      <input type="hidden" v-model:value="newTask1"/>
      <button v-if = "cek == 'edit'" @click="updateUser(newTask, newTask1)">Update</button>
    <button v-else @click="addUser">Add</button>
    <ul>
        <li v-for="(index, name) in users">
            {{ index.name }} <button @click="editUser(name, index.name)">Edit</button> || <button @click="deleteUser(name, index)">Delete</button>
        </li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          newTask: "",
          newTask1: "",
          cek: "",
          users : [
              {
                  'name' : 'Muhammad Iqbal Mubarok',
              },
              {
                  'name' : 'Ruby Purwanti',
              },
              {
                  'name' : 'Faqih Muhammad',
              }
          ]
      },
      methods: {
          addUser: function(){
              this.users.push({'name' : this.newTask});
              this.newTask = "";
          },
          editUser: function(name, index){
              let test = 1;
            this.newTask = index;
            this.newTask1 = name;
            this.cek = "edit";
          },
          updateUser: function(text, index){
            this.users[index].name = text;
            this.cek = "";
            this.newTask = "";
            this.newTask1 = "";
          },
          deleteUser: function(name, index){
              if(confirm('Apakah kamu yakin untuk menghapus?') == true) {
                  let test = this.users.indexOf(index.name)
                  this.users.splice(name, 1);
              }
          }
      }
  })
  </script>
</body>
</html>